#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp 1  &kp 2  &kp 3
&kp 4  &kp 5  &mo 6
            >;
        };

        layer_1 {
            bindings = <
&kp N1  &kp N2  &kp N3
&kp N4  &kp N5  &kp N6
            >;
        };
    };
};
